*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

body {
    background-color: var(--yellow);
    height: 100vh;
    font-family: 'Figtree', sans-serif;
    display: grid;
    place-content: center;
}

.card{
    background-color: var(--white);
    width: 384px;
    height: 522px;
    padding: 1.5rem;
    border-radius: 1rem;
    outline: 1px solid var(--black);
    position: relative;
}

.card::before {
    content: '';
    background-color: var(--black);
    top: 1rem;
    right: -1rem;
    border-radius: 1rem;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    

}

svg {
    width: 100%;
    border-radius: 1rem;
}

.first-section {
    background-color: var(--yellow);
    width: min-content;
    padding: 4px 12px;
    border-radius: 0.5rem;
    font-size: 14px;
    font-weight: bold;
    line-height: 150%;
}

.second-section {
    margin-top: 0.5rem;
    font-size: 14px;
    line-height: 150%;
    font-weight: 600;
}

.third-section {
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 800;
    line-height: 150%;
}

.fourth-section {
    margin-top: 1rem;
    color: var(--grey);
    font-weight: 600;
    line-height: 150%;
    font-size: 16px;
}

.fifth-section {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.fifth-section p {
    font-weight: 800;
}

.attribution {
    margin-top: 3rem;
}

.box {
    height: 200px;
    margin-top: 24px;
}

img {
    width: 32px;
}

@media(max-width: 375px) {
    .card{
  font-size: small;
  width: 327px;
  margin:1.5rem;
    }
 
}
